*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans';
}
header{
    background-image: url(./IMG-20230302-WA0093.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 10px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 16px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
    left: 0%;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn{
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    transition: 0.5 ease;
    font-size: 20px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}

.sub-manu{
    display: none;
    top: 6px;
    position: relative;
}
.sub-manu ul{
    position: absolute;
}
.main ul li:hover .sub-manu{
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}
.main ul li:hover .sub-manu ul{
    display: block;
    margin: 6px;
}
.main ul li:hover .sub-manu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4s ease;
    text-align: left;
    border-radius: 0px;
}
